.about-container {
    padding-left: 0;
    padding-right: 0;
}


.about-list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: items;
    color: var(--color-green);
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-list>li {
    display: block;
    counter-increment: items;
}

.about-list>li::before {
    content: '0' counter(items) ' ';
}

.about-title {
    margin-bottom: 16px;
}

.about-subtitle {
    margin-bottom: 40px;
}

.advantages-block {
    background-color: var(--color-gray);
    border-radius: 16px;
    padding: 32px;
}

.advantages-text {
    padding-top: 16px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--color-black);
}

.memoji-section {
    background-color: var(--color-green);
    border-radius: 16px;
}

.memoji-pic {
    padding-top: 51px;
    padding-bottom: 51px;
    margin: auto;
}