.custom-radio-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    fill: transparent;
    background-color: transparent;
    border: 2px solid var(--color-gray-border);
    border-radius: 50%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-radiobutton:checked+.application-form-radiobutton-label>.custom-radio-button {
    border-color: var(--color-green);
    fill: var(--color-green);
}

@media screen and (min-width: 768px) {
    .custom-radio-button {
        width: 20px;
        height: 20px;
    }
}
