.application-section {
    max-width: none;
}

.application-header-container {
    margin-bottom: 20px;
}

.application-title {
    margin-bottom: 14px;
}

.application-text {
    max-width: 335px;
    margin: 0 auto
}

.application-card-container {
    display: flex;
    width: 492px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: #4DC274;
    margin-right: 32px;
}

.application-image {
    border-radius: 30px;
}

.application-card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.application-card-information-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.8px;
    margin-bottom: 8px;
}

.application-card-information-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.application-form {
    display: flex;
    flex-direction: column;
}

.application-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
}

.application-form-imput {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    color: #121417;
    border: 1px solid rgba(18, 20, 23, 0.10);
    border-radius: 12px;
    padding: 16px 18px;
    background-color: transparent;
    outline: transparent;
    margin-bottom: 18px;
}

.application-form-imput:focus {
    border: 1px solid #4DC274;
}

.application-form-imput::placeholder {
    color: #121417;
}

.application-form-comment {
    width: 100%;
    height: 94px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    color: #121417;
    border: 1px solid rgba(18, 20, 23, 0.10);
    background-color: transparent;
    outline: transparent;
    border-radius: 12px;
    padding: 16px 18px;
    resize: none;
}

.application-form-comment:focus {
    border: 1px solid #4DC274;
}

.application-form-comment::placeholder {
    color: #121417;
}

.application-form-radiobutton-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.application-form-radiobutton-text {
    color: #121417;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 14px;
}

.application-form-radiobutton-label {
    color: #121417;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: -0.28px;
}

.application-form-btn {
    display: block;
    max-width: 335px;
    padding: 14px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #4DC274;
    border: none;
    margin-bottom: 16px;
}

.application-form-btn:hover,
.application-form-btn:focus {
    background-color: var(--color-dark-green);
}

.application-form-smalltext {
    color: rgba(18, 20, 23, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    max-width: 335px;
    margin: 0 auto
}

.application-form-radiobutton-link {
    text-decoration: underline;
}

.custom-radio-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    fill: transparent;
    background-color: transparent;
    border: 2px solid var(--color-gray-border);
    border-radius: 50%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-radiobutton:checked+.application-form-radiobutton-label>.custom-radio-button {
    border-color: var(--color-green);
    fill: var(--color-green);
}

@media screen and (min-width: 375px) {
    .application-form-wrapper {
        align-items: center;
    }

    .application-form-imput {
        width: 335px;
    }

    .application-form-comment {
        width: 335px;
    }
}

@media screen and (max-width: 767px) {

    .application-title {
        font-weight: 600;
    }

    .application-text-highlight::after {
        background-color: inherit;
    }
}

@media screen and (max-width: 1279px) {
    .application-card-container {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .application-header-container {
        margin-bottom: 64px;
    }

    .application-title {
        margin-bottom: 16px;
    }

    .application-text {
        max-width: 586px;
    }

    .application-form {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .application-form-wrapper {
        margin-bottom: 32px;
    }

    .application-form-imput {
        width: 500px;
        height: 56px;
        font-size: 16px;
        line-height: 1.5;
    }

    .application-form-comment {
        width: 500px;
        height: 104px;
        font-size: 16px;
        line-height: 1.5;
    }

    .application-form-radiobutton-container {
        margin-bottom: 32px;
    }

    .application-form-radiobutton-wrapper {
        display: flex;
        gap: 16px;

    }

    .application-form-radiobutton-text {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.4px;
        margin-bottom: 16px;
    }

    .custom-radio-button {
        width: 20px;
        height: 20px;
    }

    .application-form-btn {
        max-width: 500px;
        padding: 16px;
        font-size: 18px;
        line-height: 1.56;
        margin-bottom: 16px;
    }

    .application-form-smalltext {
        font-size: 14px;
        line-height: 1.71;
        max-width: 500px;
    }
}

@media screen and (min-width: 1280px) {
   .application-box {
    display: flex;
   }
}
