.page-footer {
  padding: 40px 0 20px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-logo-container {
  margin-bottom: 20px;
}

.footer-contacts-title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: var(--font-weight-primary-regular);
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.60);
  opacity: 0.9;
}

.footer-contacts-phone,
.footer-contacts-address {
  font-size: 14px;
  font-weight: var(--font-weight-primary-semi-bold);
  line-height: 1.29;
}

.footer-contacts-phone:hover {
  text-decoration: underline;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-menu-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-menu-nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
}

.footer-menu-nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0px;
  height: 2px;
  background-color: var(--color-green);
  transition: width 0.3s;
}

.footer-menu-nav-link:hover:after {
  width: 37px;
}

.footer-social-list {
  display: flex;
  gap: 12px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-social-icon {
  fill: var(--color-white);
  opacity: 0.8;
  transition: fill 0.3s, border-color 0.3s;
}

.footer-social-link:hover {
  border-color: rgba(77, 194, 116, 0.10);
}

.footer-social-link:hover .footer-social-icon {
  fill: var(--color-green);
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.05em;
}

.footer-copyright {
  margin-bottom: 14px;
}

.footer-legal-link {
  display: inline-block;
}

.footer-legal-link:hover {
  text-decoration: underline;
}

.footer-legal-link:not(:last-child) {
  margin-right: 18px;
}

@media screen and (min-width: 768px) {
  .page-footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: unset;
  }

  .footer-logo-container {
    margin-bottom: 32px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin-top: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-bottom {
    margin-top: 64px;
  }
}