.page-header {
  height: 67px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page-header-menu-button {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.page-header-menu-button-icon {
  stroke: var(--color-black);
}

.page-header-menu-button-icon-tablet {
  display: none;
}

.page-header-nav {
  display: none;
}

.page-header-social-list {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header-menu-button {
    width: 40px;
    height: 28px;
  }

  .page-header-menu-button-icon-mobile {
    display: none;
  }

  .page-header-menu-button-icon-tablet {
    display: initial;
  }
}

@media screen and (min-width: 1280px) {
  .page-header {
    height: 84px;
  }

  .page-header-menu-button {
    display: none;
  }

  .page-header-nav {
    display: block;
  }

  .page-header-nav-list {
    display: flex;
    gap: 20px;
  }

  .page-header-nav-link {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
  }

  .page-header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0px;
    height: 2px;
    background-color: var(--color-green);
    transition: width 0.3s;
  }

  .page-header-nav-link:hover:after {
     width: 37px;
  }

  .page-header-social-list {
    display: flex;
    gap: 12px;
  }

  .page-header-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid rgba(18, 20, 23, 0.10);
    transition: .3s, border-color .3s;
  }

  .page-header-social-link:hover {
    border-color: rgba(77, 194, 116, 0.10);
  }

  .page-header-social-link:hover .page-header-social-icon {
    fill: var(--color-green);
  }
}