.page-header {
  height: 67px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page-header-menu-button {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.page-header-menu-button-icon {
  stroke: var(--color-black);
}

.page-header-menu-button-icon-tablet {
  display: none;
}

.page-header-nav {
  display: none;
}

.page-header-social-list {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 20, 23, 0.4);
  z-index: 5;
}

.overlay.is-shown {
  display: block;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  height: 100vh;
  padding: 248px 0 20px;
  background-color: var(--color-green);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  z-index: 10;
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.mobile-menu-close-button-icon {
  flex-basis: 100%;
  stroke: var(--color-white);
}

.mobile-menu-close-button-icon-tablet {
  display: none;
}

.mobile-menu-nav-item {
  text-align: center;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-menu-nav-link {
  font-size: 14px;
  font-weight: var(--font-weight-primary-semibold);
  line-height: 1.29;
  color: var(--color-white);
}

.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: auto;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.10);
}

.mobile-menu-social-icon {
  fill: var(--color-white)
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header-menu-button {
    width: 40px;
    height: 28px;
  }

  .page-header-menu-button-icon-mobile {
    display: none;
  }

  .page-header-menu-button-icon-tablet {
    display: initial;
  }

  .mobile-menu-close-button {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-close-button-icon-mobile {
    display: none;
  }

  .mobile-menu-close-button-icon-tablet {
    display: initial;
  }

  .mobile-menu-container {
    width: 384px;
    padding-bottom: 32px;
  }

  .mobile-menu-social-link {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .page-header {
    height: 84px;
  }

  .page-header-menu-button {
    display: none;
  }

  .page-header-nav {
    display: block;
  }

  .page-header-nav-list {
    display: flex;
    gap: 20px;
  }

  .page-header-nav-link {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
  }

  .page-header-nav-link::after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 37px;
    height: 2px;
    background-color: var(--color-green);
  }

  .page-header-nav-link:hover:after {
    display: block;
  }

  .page-header-social-list {
    display: flex;
    gap: 12px;
  }

  .page-header-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid rgba(18, 20, 23, 0.10);
  }

  .page-header-social-link:hover {
    border-color: rgba(77, 194, 116, 0.10);
  }

  .page-header-social-link:hover .page-header-social-icon {
    fill: var(--color-green);
  }
}