.proposal-section {
  display: block;
  border-radius: 30px;
  background: linear-gradient(
    80deg,
    var(--color-green) 0%,
    var(--color-green-linear) 100%
  );
  padding: 40px 20px 64px;
}

.proposal-span {
  color: var(--color-green-linear);
}

.proposal-container {
  position: relative;
  position: relative;
  margin-top: 65px;
  padding: 40px 20px;
  background-color: var(--color-white);
  border-radius: 16px;
  flex-shrink: 0;
  z-index: 100;
}

.proposal-decorative-image {
  position: absolute;
  top: -25px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 50px);
  flex-shrink: 0;
  z-index: -100;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../img/proposal/card-deco-s.png');
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .proposal-decorative-image {
    background-image: url('../../img/proposal/card-deco-s@2x.png');
  }
}
/* ============= ADAPTIVE >375px =============*/

.proposal-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.proposal-list {
  margin-top: 20px;
}

.proposal-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.proposal-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 5px 4px;
  background-color: var(--color-green);
  border-radius: 50%;
}

.check-icon {
  stroke: var(--color-white);
  stroke-width: 1.5px;
}

@media screen and (min-width: 768px) {
  .icon-container {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .benefit-text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.28px;
  }
}

.proposal-btn {
  margin-top: 20px;
}
