.teachers-title {
  margin-bottom: 16px;
}
.teachers-descriptions {
  margin-bottom: 40px;
}
.teachers-list {
  display: flex;
  flex-direction: column;
}
.teachers-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.teachers-list-img {
  margin-bottom: 16px;
}
.teachers-list-name {
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .teachers-descriptions {
    margin-bottom: 64px;
  }
  .teachers-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .teachers-list-item {
    width: 272px;
  }
  .teachers-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .teachers-list {
    gap: 32px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .teachers-list-item {
    width: 232px;
  }
}
