<section class="section">
  <div class="container about-container">
    <h2 class="header-two about-title">
      About <span class="text-highlight">Us</span>
    </h2>
    <p class="text-body about-subtitle">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="advantages-section">
      <ol class="about-list">
        <li class="advantages-block">
          <p class="header-three advantages-text">
            Expert, innovative teaching staff
          </p>
        </li>
        <li class="advantages-block">
          <p class="header-three advantages-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="advantages-block">
          <p class="header-three advantages-text">
            Multicultural learning environment
          </p>
        </li>
        <li class="advantages-block">
          <p class="header-three advantages-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>

      <div class="memoji-section">
        <div class="memoji-image"></div>
      </div>
    </div>
  </div>
</section>
