<section class="section">
  <div class="container">
    <h2 class="header-two">About <span class="text-highlight">Us</span></h2>
    <p class="text-body">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div>
      <ul class="list about-list">
        <li>
          <div class="advantages-block">
            <p class="advantages-text">01</p>
            <h3 class="header-three">Expert, innovative teaching staff</h3>
          </div>
        </li>
        <li>
          <div>
            <p class="advantages-text">02</p>
            <h3 class="header-three">
              Wide range of course levels and options
            </h3>
          </div>
        </li>
        <li>
          <div>
            <p class="advantages-text">03</p>
            <h3 class="header-three">Multicultural learning environment</h3>
          </div>
        </li>
        <li>
          <div>
            <p class="advantages-text">04</p>
            <h3 class="header-three">
              Comprehensive language support services
            </h3>
          </div>
        </li>
      </ul>
    </div>
    <div class="memoji-section">
      <img
        srcset="../../img/about/memoji-mobile@2x.jpg"
        src="../../img/about/memoji-mobile.jpg"
        alt="pic of memoji girl pointing with the finger"
        width="255"
        height="172.324"
      />
    </div>
  </div>
</section>
