<section class="section">
  <div class="container">
    <h2 class="header-two">About <span class="text-highlight">Us</span></h2>
    <p class="text-body">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div>
      <ul class="list about-list">
        <li>
          <div class="advantages-block">
            <h3 class="header-three">01</h3>
            <p class="text-body-small">Expert, innovative teaching staff</p>
          </div>
        </li>
        <li>
          <div>
            <h3 class="header-three">02</h3>
            <p class="text-body-small">
              Wide range of course levels and options
            </p>
          </div>
        </li>
        <li>
          <div>
            <h3 class="header-three">03</h3>
            <p class="text-body-small">Multicultural learning environment</p>
          </div>
        </li>
        <li>
          <div>
            <h3 class="header-three">04</h3>
            <p class="text-body-small">
              Comprehensive language support services
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="memoji-section">
      <img
        src="/src/img/about/memoji-mobile.jpg"
        alt="memoji"
        width="254"
        height="211"
      />
    </div>
  </div>
</section>
