<section class="hero-section">
  <div class="hero-img">
      <div class="hero-content">
        <h1 class="hero-title">
          Discover the joy of learning <span>English</span> with us!
        </h1>
        <a class="hero-btn btn btn-green" href="#application"> Leave an application </a>
      </div>
      <a class="hero-arrow-btn" href="#footer">
        <svg class="hero-arrow-btn-icon" width="20" height="20">
          <use href="../../img/icons.svg#icon-check-mark"></use>
        </svg>
      </a>
  </div>
</section>
