<section class="section proposal-section" id="proposal">
  <h2 class="header-one">
    Master the <span class="proposal-span">Language</span> with Our English
    Package!
  </h2>
  <div class="proposal-container">
    <div class="proposal-decorative-image"></div>
    <h3 class="proposal-title">Power of English</h3>
    <ul class="proposal-list">
      <li class="proposal-list-item">
        <div class="icon-container">
          <svg class="check-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <p class="header-three benefit-text">
          Dive into captivating lessons designed to stimulate your curiosity.
        </p>
      </li>
      <li class="proposal-list-item">
        <div class="icon-container">
          <svg class="check-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <p class="header-three benefit-text">
          Learn in a nurturing setting where every student's progress matters.
        </p>
      </li>
      <li class="proposal-list-item">
        <div class="icon-container">
          <svg class="check-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <p class="header-three benefit-text">
          Experience the satisfaction of real progress as your language skills
          and confidence grow with every session.
        </p>
      </li>
    </ul>

    <a class="btn btn-green proposal-btn" type="submit" href="#application">
      Leave an application
    </a>
    <div class="proposal-books-image"></div>
  </div>
</section>
