<section class="section teachers" id="teachers">
  <div class="container">
    <h2 class="teachers-title header-two">
      Meet our <span class="text-highlight">teachers</span>
    </h2>
    <p class="teachers-descriptions text-body">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-list-item">
        <img
          width="150"
          height="150"
          src="/img/teachers/img_1.png"
          alt="Maria Teacher"
          class="teachers-list-img"
        />
        <div class="teachers-list-text">
          <p class="teachers-list-name header-three">Maria</p>
          <p class="teachers-list-description text-body-small">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>

      <li class="teachers-list-item">
        <img
          width="150"
          height="150"
          src="/img/teachers/img_2.png"
          alt="Artem teacher"
          class="teachers-list-img"
        />
        <div class="teachers-list-text">
          <p class="teachers-list-name header-three">Artem</p>
          <p class="teachers-list-description text-body-small">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>

      <li class="teachers-list-item">
        <img
          width="150"
          height="150"
          src="/img/teachers/img_3.png"
          alt="Ilona teacher"
          class="teachers-list-img"
        />
        <div class="teachers-list-text">
          <p class="teachers-list-name header-three">Ilona</p>
          <p class="teachers-list-description text-body-small">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>

      <li class="teachers-list-item">
        <img
          width="150"
          height="150"
          src="/img/teachers/img_4.png"
          alt="Volodymer teacher"
          class="teachers-list-img"
        />
        <div class="teachers-list-text">
          <p class="teachers-list-name header-three">Volodymyr</p>
          <p class="teachers-list-description text-body-small">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
