<section class="teachers">
  <div class="container">
    <h2 class="teachers__title title">Meet our teachers</h2>
    <p class="teachers__descriptions">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-list__item">
        <img
          width="150"
          height="150"
          src="../../img/teacher/mariateacher.png"
          alt="Maria Teacher"
          class="teachers-list__img"
        />
        <div class="teachers-list__text">
          <p class="teachers-list__name">Maria</p>
          <p class="teachers-list__description">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>

      <li class="teachers-list__item">
        <img
          width="150"
          height="150"
          src="../../img/teacher/artemteacher.png"
          alt="Artem teacher"
          class="teachers-list__img"
        />
        <div class="teachers-list__text">
          <p class="teachers-list__name">Artem</p>
          <p class="teachers-list__description">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>

      <li class="teachers-list__item">
        <img
          width="150"
          height="150"
          src="../../img/teacher/ilona.png"
          alt="Ilona teacher"
          class="teachers-list__img"
        />
        <div class="teachers-list__text">
          <p class="teachers-list__name">Ilona</p>
          <p class="teachers-list__description">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>

      <li class="teachers-list__item">
        <img
          width="150"
          height="150"
          src="../../img/teacher/volodymer.png"
          alt="Volodymer teacher"
          class="teachers-list__img"
        />
        <div class="teachers-list__text">
          <p class="teachers-list__name">Volodymyr</p>
          <p class="teachers-list__description">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
