<footer class="page-footer" id="footer">
  <div class="page-footer-container container">
    <div class="footer-logo-and-address">
      <div class="footer-logo-container">
        <a href="/index.html">
          <div class="logo">
            english<span class="brand-color">excellence</span>.
          </div>
        </a>
      </div>
      <address class="footer-address">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <p class="footer-contacts-title">Phone number:</p>
            <a class="footer-contacts-link" href="tel:380684439426">
              +380 (68) 443-94-26
            </a>
          </li>
          <li class="footer-contacts-item">
            <p class="footer-contacts-title">Address:</p>
            <a
              class="footer-contacts-link"
              href="https://t.ly/NwK7v"
              target="_blank"
            >
              32a M. Bazhana ave
            </a>
          </li>
        </ul>
      </address>
    </div>
    <ul class="footer-menu-nav-list">
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link scrollto" href="#about">About us</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link scrollto" href="#lessons">Our lessons</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link scrollto" href="#teachers">Teachers</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link scrollto" href="#reviews">Reviews</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link scrollto" href="#footer">Contact us</a>
      </li>
    </ul>
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.facebook.com/goITclub/"
          rel="noreferrer noopener"
          target="_blank"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.instagram.com/goitclub/"
          rel="noreferrer noopener"
          target="_blank"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.youtube.com/c/GoIT"
          rel="noreferrer noopener"
          target="_blank"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-bottom">
      <p class="footer-copyright">
        ©2023 English Excellence. All rights reserved.
      </p>
      <div class="footer-legal-links">
        <a
          class="footer-legal-link"
          href="https://goit.global/ua/privacy-policy/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Privacy Policy
        </a>
        <a
          class="footer-legal-link"
          href="https://goit.global/ua/terms-of-use/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Terms of Service
        </a>
      </div>
    </div>
  </div>
</footer>
