<footer class="page-footer" id="footer">
  <div class="page-footer-container container">
    <div class="footer-logo-and-address">
      <div class="footer-logo-container">
        <a href="../index.html">
          <div class="logo">
            english<span class="brand-color">excellence</span>.
          </div>
        </a>
      </div>
      <address class="footer-address">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <p class="footer-contacts-title">Phone number:</p>
            <a class="footer-contacts-link" href="tel:380684439426">
              +380 (68) 443-94-26
            </a>
          </li>
          <li class="footer-contacts-item">
            <p class="footer-contacts-title">Address:</p>
            <a
              class="footer-contacts-link"
              href="https://www.google.com/maps/place/%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82+%D0%9C%D0%B8%D0%BA%D0%BE%D0%BB%D0%B8+%D0%91%D0%B0%D0%B6%D0%B0%D0%BD%D0%B0,+32%D0%90,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.3973399,30.645865,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4c450580cb0ef:0xa9ecbb77005418c9!8m2!3d50.3973399!4d30.6484399!16s%2Fg%2F11cnchy4dm?entry=ttu"
            >
              32a M. Bazhana ave
            </a>
          </li>
        </ul>
      </address>
    </div>
    <ul class="footer-menu-nav-list">
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link" href="#about">About us</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link" href="#lessons">Our lessons</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link" href="#teachers">Teachers</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="footer-menu-nav-item">
        <a class="footer-menu-nav-link" href="#footer">Contact us</a>
      </li>
    </ul>
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.facebook.com/goITclub/"
          rel="noreferrer noopener"
          target="_blank"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.instagram.com/goitclub/"
          rel="noreferrer noopener"
          target="_blank"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.youtube.com/c/GoIT"
          rel="noreferrer noopener"
          target="_blank"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-bottom">
      <p class="footer-copyright">
        ©2023 English Excellence. All rights reserved.
      </p>
      <div class="footer-legal-links">
        <a
          class="footer-legal-link"
          href="https://goit.global/ua/privacy-policy/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Privacy Policy
        </a>
        <a
          class="footer-legal-link"
          href="https://goit.global/ua/terms-of-use/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Terms of Service
        </a>
      </div>
    </div>
  </div>
</footer>
