<header class="page-header">
  <div class="page-header-container container">
    <div class="page-header-logo-container">
      <div class="logo">
        english<span class="brand-color">excellence</span>.
      </div>
    </div>
    <button
      class="page-header-menu-button js-open-menu"
      type="button"
      id="mobile-menu-btn"
      aria-label="Burger Menu"
    >
      <svg
        class="page-header-menu-button-icon page-header-menu-button-icon-mobile"
        width="32"
        height="32"
      >
        <use href="./img/icons.svg#icon-nav-mobile"></use>
      </svg>
      <svg
        class="page-header-menu-button-icon page-header-menu-button-icon-tablet"
        width="40"
        height="28"
      >
        <use href="./img/icons.svg#icon-nav-tablet"></use>
      </svg>
    </button>
    <nav class="page-header-nav">
      <ul class="page-header-nav-list">
        <li class="page-header-nav-item">
          <a class="page-header-nav-link scrollto" href="#about">About us</a>
        </li>
        <li class="page-header-nav-item">
          <a class="page-header-nav-link scrollto" href="#lessons"
            >Our lessons</a
          >
        </li>
        <li class="page-header-nav-item">
          <a class="page-header-nav-link scrollto" href="#teachers">Teachers</a>
        </li>
        <li class="page-header-nav-item">
          <a class="page-header-nav-link scrollto" href="#reviews">Reviews</a>
        </li>
        <li class="page-header-nav-item">
          <a class="page-header-nav-link scrollto" href="#footer">Contact us</a>
        </li>
      </ul>
    </nav>
    <ul class="page-header-social-list">
      <li class="page-header-social-item">
        <a
          class="page-header-social-link"
          href="https://www.facebook.com/goITclub/"
          rel="noreferrer noopener"
          target="_blank"
          ><span class="visually-hidden">Facebook</span>
          <svg class="page-header-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="page-header-social-item">
        <a
          class="page-header-social-link"
          href="https://www.instagram.com/goitclub/"
          rel="noreferrer noopener"
          target="_blank"
          ><span class="visually-hidden">Instagram</span>
          <svg class="page-header-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="page-header-social-item">
        <a
          class="page-header-social-link"
          href="https://www.youtube.com/c/GoIT"
          rel="noreferrer noopener"
          target="_blank"
          ><span class="visually-hidden">Youtube</span>
          <svg class="page-header-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
